:-stv-set-elsewhere {
    --yt-spec-icon-active-other: initial;
}

ytd-masthead .yt-icons-ext {
    color: var(--yt-spec-icon-active-other);
}

ytd-masthead svg#yt-logo-red-svg #youtube-red-paths path,
ytd-masthead svg#yt-logo-red-updated-svg #youtube-red-paths path,
ytd-masthead svg#yt-logo-svg #youtube-paths path,
ytd-masthead svg#yt-logo-updated-svg #youtube-paths path {
    fill: #282828;
}

ytd-masthead.dark svg#yt-logo-red-svg #youtube-red-paths path,
ytd-masthead.dark svg#yt-logo-red-updated-svg #youtube-red-paths path,
ytd-masthead.dark svg#yt-logo-svg #youtube-paths path,
ytd-masthead.dark svg#yt-logo-updated-svg #youtube-paths path,
ytd-masthead.theater svg#yt-logo-red-svg #youtube-red-paths path,
ytd-masthead.theater svg#yt-logo-svg #youtube-paths path {
    fill: #fff;
}
