#search-input.ytd-searchbox-spt input {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  font-family: Roboto, Noto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  outline: none;
  text-align: inherit;
  width: 100%;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  -ms-flex-preferred-size: 0.000000001px;
  flex-basis: 0.000000001px;
}

#search-container.ytd-searchbox-spt {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#search-input.ytd-searchbox-spt #search::-webkit-input-placeholder {
  color: #888;
}

#search-input.ytd-searchbox-spt #search::-moz-input-placeholder {
  color: #888;
}

#search-input.ytd-searchbox-spt #search:-ms-input-placeholder {
  color: #888;
}
